@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
       url('./fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  /* Apply Montserrat to specific elements or globally */
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Additional CSS rules for your application */
  